<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <header class="display-flex justify-space-between align-center p-2">
        <%- include('../partials/header'); %>
    </header>
    
    <main>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/signUp">Sign Up</a>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>