html[data-theme="dark"]{
	background-color: rgb(17,25,32);
	color:rgb(187,198,206);
}
html[data-theme="light"]{
	background-color: #fff;
	color:hsl(205deg, 20%, 32%);
}

html,body{
	margin:0;
	padding:0;
  overflow: hidden;
}

.edit{
	position: absolute;
	right:0;
	top:0;
	width:64px;
	height:64px;
}

.edit > a{
	all:unset;
	width:100%;
	height:100%;
	background-color: hsl(195deg, 85%, 41%);
	border-radius: 50%;
	transition: 0.5s;
	display: grid;
	place-items: center;
}

.edit > a > i {
	transform: scale(1.5);
}

.edit:hover > a {
	background-color: hsl(195deg, 85%, 50%);
}

input {
	all:unset;
	width:100%;
	padding: 8px;
	font-size: 36px;
	cursor: text;
	text-align: center;
}
input::before {
	position: relative;
	content: attr(data-placeholder);
	color: hsl(205deg, 20%, 32%);
}

.header{
	border-bottom: 1px solid hsl(205deg, 20%, 32%);
}

.editable{
	cursor: pointer;
}

.tag.add::before{
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: rgb(71, 143, 206);
	display: inline-table;
	text-align: center;
	font-weight: 900;
}