<%- include('../partials/header') %>
<script src="js/home.js" defer></script>
<div>
    <form>
        <input type="search" id="search" name="search" placeholder="Search Tags">
        <button type="submit"><i class="bi bi-search" role="button"></i></button>
    </form>

</div>
<br>
<div class="parent">
    <div class="div1">
        <% for(const note of notes){%>
            <button class="secondary" data-id="<%= note.id%>"> <%= note.title %> </button>
        <%}%>
        <button class="create-new"> Create A new Note </button>
    </div>
    <div class="div2">
        <iframe id="note"></iframe>
        <article>
            <h1>Nothing here :(</h1>
            <p>Click on a note to view it</p>
            <p>- or -</p>
            <button class="create-new"> Create A new Note </button>
        </article>
    </div>
</div>



  
<%- include('../partials/footer') %>