<%- include("../partials/header") %>
<input type="search" id="search" name="search" placeholder="Search Tags">

<div class="parent">
    <div class="div1">
        
        <a href="/note" role="button"> + </a>
    </div>
    <div class="div2">
        <iframe 
            src="/notes"
            title="notes"
            width="600"
            height="400">
        </iframe>
    </div>
</div>
 
<%- include("../partials/footer") %>