<%- include("../partials/header") %>
<input type="search" id="search" name="search" placeholder="Search Tags">

<div class="parent">
    <div class="div1">
        <button href="#"> + </button>
        <ul class="note-list">
        </ul>
    </div>
    <div class="div2">
        <iframe 
            src="/views/pages/doc/view.ejs"
            title="notes"
            width="600"
            height="400">
        </iframe>
    </div>
</div>
 
<%- include("../partials/footer") %>