<%- include('../partials/header') %>

<div>
    <input type="search" id="search" name="search" placeholder="Search Tags">
    <div class="icon">
        <i class="bi bi-save" role="button"></i>
    </div>
</div>
<br>
<div class="parent">
    <div class="div1">
        <button href=""> + </button>
        <ul class="note-list">
        </ul>
    </div>
    <div class="div2">
        <textarea class="note-text" placeholder="Note"></textarea>
        <textarea class="tag-text" placeholder="Tag"></textarea>
    </div>
</div>

<%- include('../partials/quill/render', { notes: notes }) %>

  <script src="https://unpkg.com/quill@1.3.7/dist/quill.js"></script>
<%- include('../partials/footer') %>
