<%- include('../partials/header') %>

<div>
    <form>
        <input type="search" id="search" name="search" placeholder="Search Tags">
        <button type="submit"><i class="bi bi-search" role="button"></i></button>
    </form>

</div>
<br>
<div class="parent">
    <div class="div1">
        <button href=""> + </button>
        <ul class="note-list">
            <%- include('../partials/quill/render', { notes: notes }) %>
        </ul>
    </div>
    <div class="div2">
        <textarea class="note-text" placeholder="Note"></textarea>
        <textarea class="tag-text" placeholder="Tag"></textarea>
    </div>
</div>



  
<%- include('../partials/footer') %>
<script src="https://unpkg.com/quill@1.3.7/dist/quill.js"></script>