<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
    <div class="landing">
        <div class="container">
            <h1 class="contrast"><strong>Noteable</strong></h1>
            <detail class="primary">"Say goodbye to cluttered notebooks and lost notes. With noteable, you can easily
                organize your thoughts and ideas in one convenient place. Whether you're jotting down ideas for a
                project, making a to-do list, or keeping track of important information, noteable has got you covered.
                With features like sharing between users, searching, and you'll never lose track of what's important
                again. Get noteable today and simplify your note-taking experience."</detail>
            <hr>
            <div data-is="signup">
                <h4>Sign Up Now</h4>
                <form id="signup">
                    <label for="username">
                        Username
                        <input type="text" id="username" name="name" placeholder="FooBar123" required>
                    </label>
                    <label for="email2">
                        Email
                        <input type="text" id="email2" name="email" placeholder="someone@somthing.somewhere" required>
                    </label>
                    <label for="password2">
                        Password
                        <input type="password" id="password2" name="password" placeholder="password" required>
                    </label>
                    <button type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>

<style>
    html,
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .landing {
        display: flex;
        background-image: url("images/landing.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        line-height: 0;
        margin: 0;
    }

    .container {
        width: 35%;
        float: left;
        margin: 3% 1% 1% 3%;
        line-height: 1;
    }

    @media only screen and (max-width: 992px) {
        .container {
            width: 100%;
            float: none;
            margin: 8% 16px 16px 3%;
        }
    }

    .landing h1 {
        text-align: center;
        margin: 16px;
    }

    .landing detail {
        line-height: 1.5;
        text-align: justify;
    }

    .landing h4 {
        margin: 0 0 16px 0;
    }
</style>