<!DOCTYPE html>
<html lang="en" data-theme="<%=theme || "dark"%>">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Note Sharing</title>
  <!-- pico css -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" /> -->
  <link rel="stylesheet" href="/css/doc.css" />
  <!-- quill js  -->
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />
	<%- include("../../partials/quill/editor-scripts") %>
	<% if(theme === "dark" || !theme){ %>
		<style>
			*{
				color:rgb(187,198,206) !important;
				stroke:rgb(187,198,206) !important;
			}
		</style>
	<% } %>
</head>

<body>
	<%- include("../../partials/quill/editor",{note:doc,editCallback:editCallback}) %>
</body>
</html>